

 
  .product-container {
    display: flex; /* Utiliza flexbox para alinear verticalmente los elementos */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra horizontalmente los elementos */
    text-align: center; /* Centra el texto horizontalmente */
    max-width: 50%;
  }
  
  .product-image {
    max-width: 50%; /* Esto establece el tamaño máximo al 25% del contenedor principal */
    display: block; /* Esto hace que la imagen sea un elemento de bloque para ajustar el ancho máximo */
    margin: 0 auto; /* Esto centra la imagen horizontalmente en el contenedor */
  }
  