/* Home.css */

  
  h1 {
    font-size: 4rem; 
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black
  }
  
  p {
    font-size: 2rem; 
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black
  }
  